//colors
$dark:           #05060A;
$dark-night:      #000;
$light:          #fff;
$lighter:        #F4F4F4;
$gray-dark:      #81828E;
$gray-lighter:   #C4C4C4;
$ellips-color:   rgba(129, 130, 142, 0.45);
$gray-mid-light: #CCCCCC;
$hex-light:      #fce38a;
$gray-darknight: #3A3D48;

// text
$text-dark: $dark;
$text-lighter: $lighter;
$text-gray-dark: $gray-dark;
$text-gray-light: $gray-lighter;
$text-gray-ML: $gray-mid-light;

//background
$background-dark: $dark;
$background-ligter: $lighter;
$background-ellips: $ellips-color;

//border
$border-dark: $dark;
$border-light: $lighter;